:host {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    background-color: var(--white-color);
    width: calc(100% - 2rem);
    max-width: 15rem;
    border-radius: var(--s4);
    opacity: 0;
    transform: scale(.9);
    padding: var(--s4) var(--s16) var(--s16);
    transition: opacity .2s, transform .2s;


    &.loaded {
      opacity: 1;
      transform: scale(1);
    }

    h2 {
      margin-bottom: var(--s16);
    }

    .control {
      text-align: right;

      button-component {
        margin-top: var(--s10);
      }
    }

  }
}
